:root {
  --light_blue: #006eff;
  --dark_blue: #001155;
  --yellow: #fdd969;
}


/* Skin Defaults */
.skin-blue .content-wrapper {
  color: var(--dark_blue);
  background: white;
}.content {
  padding-top: 0;
  font-size: 16px;
  font-family: Roboto;
}

/* Additional h2 Styling */
h2 {
  margin-top: 0;
}

h3 {
  color: var(--dark_blue);
  font-size: 16px;
  font-family: Roboto;
}


/* Logo Styling */ 

/* Logo background, and text colour */
.skin-blue .main-header .logo {
  background-color: white;
  color: var(--dark_blue);
  
}

/* Changes to logo when hovered*/

.skin-blue .main-header .logo:hover {
  background-color: white;
  color: var(--dark_blue);
}


/* navbar */ 
.skin-blue .main-header .navbar {
  background-color: white;
} 


/* SIDEBAR STYLE */

/* sidebar toggle */
.skin-blue .main-header .navbar .sidebar-toggle {
	color: var(--dark_blue);
}

/* Sidebar Background Colour */
.skin-blue .main-sidebar {
  background: white; /*white*/
}

/* Sidebar Tabs */
.skin-blue .main-sidebar .sidebar .sidebar-menu a{
	color: var(--dark_blue);  /*text colour - dark blue */
	font-size: 16px;
	font-family: Roboto;
}

.skin-blue .main-sidebar .sidebar .sidebar-menu {
	color: var(--dark_blue);  /*text colour - dark blue */
	font-size: 16px;
	font-family: Roboto;
}

/*Sidebar Input*/

.skin-blue .main-sidebar .sidebar .sidebar-menu label{
	color: var(--dark_blue);  /*text colour - dark blue */
	
}

/*Sidebar toggle hover */
.skin-blue .main-header .navbar .sidebar-toggle:hover{
  background-color: var(--dark_blue);
}

/* sidebar: tab selected*/
.skin-blue .main-sidebar .sidebar .sidebar-menu .active a{
	color: #ffffff; /*text colour - white */
	border-color: var(--yellow)
}
.skin-blue .sidebar-menu > li:hover > a {
	background: var(--dark_blue);
	border-color: var(--yellow);
}
.skin-blue .sidebar-menu >li.active >a {
	background: var(--light_blue);
	border-color: var(--yellow)
}

/* sidebar: tab hovered*/
.skin-blue .main-sidebar .sidebar .sidebar-menu a:hover{
	background: var(--dark_blue);
	color: white
}

/*sliver on selected tab */
.nav-tabs-custom .nav-tabs li.active:hover a, .nav-tabs-custom .nav-tabs li.active a {
     background-color: transparent;
     border-color: transparent;
}

.nav-tabs-custom .nav-tabs li.active {
     border-top-color: var(--yellow);
}


.box {
  -webkit-box-shadow: none;
}

/*Box Styling*/
.box.box-info {
  border-color: var(--light_blue);
}

.box-title {
  color: var(--dark_blue);
  font-size: 16px;
}

.box-header {
  color: var(--dark_blue);
  font-size: 16px; 
}

/*Info Box Colours*/

.info-box {
  border: 1px solid;
  border-color: var(--dark_blue);
	font-size: 16px;
}

.info-box-icon {
  background: white;
  background: rgba(0,0,0,0);
  color: white;
  
}

.info-box-text {
  font-size: 20px;
  font-weight: 800;
}

.info-box-number {
  font-size: 18px;
}

.bg-green {
  color: var(--dark_blue)!important;
	background-color: #4d94ff!important;
}
.bg-red {
  color: var(--dark_blue)!important;
	background-color: #ffb24d!important;
}




/*Turn off plotly hoverbar */
.modebar {
  display: none!important;
}


.download-button {
  height: 50px;
  color: #001155;
  background-color: white;
  padding: 20px;
}

/* For some reason this is needed to style the numericInput */
.form-control {
  border-color: var(--dark_blue);
  color: var(--dark_blue);
} 
.form-control:focus {
  border-color: var(--light_blue);
  box-shadow: none;
  border-radius: 0;
}

/* And this styles the selectInputs */
.selectize-input {
    background-color: white;
    border-color: var(--dark_blue);
    border-radius: 0;
} 

.selectize-input.focus {
    border-color: var(--light_blue);
    border-radius: 0;
    box-shadow: none;
  
}

.irs-bar {
  background: var(--light_blue);
  border: var(--light_blue);
}



