:root {
  --light_blue: #006eff;
  --dark_blue: #001155;
  --yellow: #fdd969;
  --grey: #b2b2b2;
  --arrow_green: #64b478;
  --arrow_red: #ffb24d;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto.eot');
    src: url('Roboto.eot?#iefix') format('embedded-opentype'),
         url('Roboto.woff') format('woff'),
         url('Roboto.ttf') format('truetype'),
         url('Roboto.svg#svgFontName') format('svg');


}


/* Skin Defaults */
.skin-blue .content-wrapper {
  color: var(--dark_blue);
  background: white;
}.content {
  padding-top: 0;
  font-size: 16px;
  font-family: Roboto, arial, serif
}

/* Additional h2 Styling */
h2 {
  margin-top: 0;
}

h3 {
  color: var(--dark_blue);
  margin: 5px 0 5px 0;
  font-size: 16px;
  font-family: Roboto;
}


/* Logo Styling */ 

/* Logo background, and text colour */
.skin-blue .main-header .logo {
  background-color: white;
  color: var(--dark_blue);
  
}

/* Changes to logo when hovered*/

.skin-blue .main-header .logo:hover {
  background-color: white;
  color: var(--dark_blue);
}


/* navbar */ 
.skin-blue .main-header .navbar {
  background-color: white;
} 

/* sidebar toggle */
.skin-blue .main-header .navbar .sidebar-toggle {
	color: var(--dark_blue);
}


/* SIDEBAR STYLE */

/* Sidebar Background Colour */
.skin-blue .main-sidebar {
  background: white; /*white*/
}

/* What colour text, background, and border on hover/active */
.skin-blue .sidebar-menu>li.active>a,
.skin-blue .sidebar-menu>li:hover>a {
  color: white;
  background: var(--light_blue);
  border-left-color: var(--yellow);
}

/* What colour text, background, not active */
.skin-blue .sidebar a{
  color: var(--dark_blue);
  font-size: 16px;
  font: Roboto;
}
/* background, text colour of submenu */
.skin-blue .sidebar-menu>li>.treeview-menu{
  background: white;
  color: var(--dark_blue);
}

.skin-blue .treeview-menu>li>a {
  color:var(--dark_blue);
  
}

.skin-blue .treeview-menu>li.active>a,
.skin-blue .treeview-menu>li>a:hover {
  background: var(--light_blue);
  border-left-color: var(--yellow);
}





/*sliver on selected tab */
.nav-tabs-custom .nav-tabs li.active:hover a, .nav-tabs-custom .nav-tabs li.active a {
     background-color: transparent;
     border-color: transparent;
}

.nav-tabs-custom .nav-tabs li.active {
     border-top-color: var(--yellow);
}


.box {
  -webkit-box-shadow: none;
}

/*Box Styling*/
.box.box-info {
  border-color: var(--light_blue);
}

.box-title {
  color: var(--dark_blue);
  font-size: 16px;
}

.box-header {
  color: var(--dark_blue);
  font-size: 16px; 
}

/*Info Box Colours*/

.info-box {
  border: 1px solid;
  border-color: var(--dark_blue);
	background:white;
	background: rgba(0,0,0,0);
	margin-bottom: 10px;
	-webkit-box-shadow: none;
}

.info-box-text {
  font-size: 20px;
  font-weight: 900;
}

.info-box-content {
  color: var(--dark_blue);
  background: white;
}

.info-box-icon {
  border-right: 1px solid var(--dark_blue);
  font-size: 70px;
  height: 95px;
  color:white;
  background: transparent;
}




.bg-green {
	background-color: var(--arrow_green)!important;
}


.bg-red {
	background-color: var(--arrow_red)!important;
}

.bg-yellow {
  background-color: var(--grey)!important;
}



/*Turn off plotly hoverbar */
.modebar {
  display: none!important;
}


.download-button {
  height: 50px;
  color: var(--dark_blue);
  background-color: white;
  padding: 20px;
}

/* For some reason this is needed to style the numericInput */
.form-control {
  font-size: 16px;
  border-color: var(--dark_blue);
  color: var(--dark_blue);
} 
.form-control:focus {
  border-color: var(--light_blue);
  box-shadow: none;
  border-radius: 0;
}

/* And this styles the selectInputs */
.selectize-input {
    background-color: white;
    border-color: var(--dark_blue);
    border-radius: 0;
} 

.selectize-input.focus {
    border-color: var(--light_blue);
    border-radius: 0;
    box-shadow: none;
  
}

.irs-bar {
  background: white;
  border: white;
}




